<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
    <div class="ml-2 lg:ml-0 tracking-tight leading-none">
      <div class="mr-4 text-2xl text-lg font-medium tracking-tight leading-6 truncate">
        Fahrzeuge verwalten <small>(Anzahl: {{vehicles.length}})</small>
      </div>
      <div class="mt-2 text-1xl text-secondary font-medium">
        Hier kannst du die Fahrzeuge verwalten
      </div>
    </div>

    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <button class="ml-4" mat-flat-button [color]="'primary'" [disabled]="newItem" (click)="create()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">Neues Fahrzeug erstellen</span>
      </button>
    </div>
  </div>

  <div class="flex flex-auto overflow-hidden">
    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="vehicles?.length > 0; else noRecords">
        <div class="grid">
          <div class="vehicles-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary">
            <div class="title">Name</div>
            <div class="title">Kennzeichen</div>
            <div class="title">Rang</div>
            <div class="title">Abteilung</div>
            <div></div>
          </div>

          <ng-container>
            <ng-container *ngFor="let item of vehicles; let i = index; trackBy: trackByFn">
              <div class="vehicles-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                <div class="truncate">
                  {{item.name}}
                </div>
                
                <div class="truncate">
                  {{item.licensePlate}}
                </div>
                
                <div class="hidden lg:block truncate">
                  {{getGroup(item)}}
                </div>
                
                <div class="hidden lg:block truncate">
                  {{getDepartment(item)}}
                </div>
                  
                <div>
                  <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleEdit(item.id)">
                    <mat-icon class="icon-size-5" [svgIcon]="selected?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                    </mat-icon>
                  </button>
                </div>
              </div>

              <div class="grid">
                <ng-container *ngIf="selected?.id === item.id">
                  <ng-container *ngTemplateOutlet="rowEditTemplate; context: {$implicit: item}">

                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-template #rowEditTemplate let-vehicles>
        <div class="shadow-lg overflow-hidden">
          <div class="flex border-b">
            <form class="flex flex-col w-full" [formGroup]="selectedForm">
              <div class="flex flex-col sm:flex-row p-8">
                <div class="flex flex-auto flex-wrap">

                  <div class="flex flex-col w-full lg:w-1/4 sm:px-2 lg:px-4">
                    <mat-form-field class="w-full">
                      <mat-label>Name:</mat-label>
                      <input matInput [formControlName]="'name'" required />
                    </mat-form-field>
                  </div>

                  <div class="flex flex-col w-full lg:w-1/4 sm:px-2 lg:px-4">
                    <mat-form-field class="w-full">
                      <mat-label>Kennzeichen:</mat-label>
                      <input matInput [formControlName]="'licensePlate'" required />
                    </mat-form-field>
                  </div>
                  
                  <div class="flex flex-col w-full lg:w-1/4 sm:px-2 lg:px-4">
                    <mat-form-field class="w-full">
                      <mat-label>Rang:</mat-label>

                      <mat-select [formControlName]="'groupId'">
                        <mat-option *ngFor="let group of groups" [value]="group.id">
                          {{group.uniqueId}}. {{group.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
                  <div class="flex flex-col w-full lg:w-1/4 sm:px-2 lg:px-4">
                    <mat-form-field class="w-full">
                      <mat-label>Abteilung:</mat-label>

                      <mat-select [formControlName]="'departmentId'">
                        <mat-option *ngFor="let department of departments" [value]="department.id">
                          {{department.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
              </div>
              
              <div class="flex items-center justify-between w-full border-t px-8 py-4">
                <button class="-ml-4" mat-button [color]="'warn'" [disabled]="selected.default" (click)="delete()">
                  {{selected.id === undefined ? 'Abbrechen' : 'Löschen'}}
                </button>

                <div class="flex items-center">
                  <div class="flex items-center mr-4" *ngIf="flashMessage">
                    <ng-container *ngIf="flashMessage === 'success'">
                      <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                      <span class="ml-2">Das Fahrzeug wurde gespeichert!</span>
                    </ng-container>
                    <ng-container *ngIf="flashMessage === 'error'">
                      <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                      <span class="ml-2">Ein Fehler ist aufgetreten, versuche es erneut!</span>
                    </ng-container>
                  </div>
                  <button mat-flat-button [color]="'primary'" (click)="patch()">
                    {{selected.id === undefined ? 'Erstellen' : 'Speichern'}}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </ng-template>


      <ng-template #noRecords>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          Es wurden keine Fahrzeuge gefunden!
        </div>
      </ng-template>
    </div>
  </div>
</div>