.control-center-status-grid {
  grid-template-columns: auto 30px;

  @screen sm {
    grid-template-columns: 90% 10%;
  }

  @screen md {
    grid-template-columns: auto 30% 30%;
  }

  @screen lg {
    grid-template-columns: auto 30% 30% 60px;
  }

  .title, .truncate {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
}